<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  <p>{{ site.subtitle }}</p>
  <p class="view"><a href="https://github.com/haiiro-shimeji/gmap">View the Project on GitHub <small>haiiro-shimeji/gmap</small></a></p>
  <ul>
    <li><a href="https://github.com/haiiro-shimeji/gmap/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/haiiro-shimeji/gmap/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/haiiro-shimeji/gmap">View On <strong>GitHub</strong></a></li>
  </ul>
</hgroup>
